<div class="card-box">
    <img src="{{ song.album.image_url }}" alt="Cover Image">
    <div>
        <div class="text-center">
            <p class="name">Title: {{ song.title }}</p>
            <p class="genre">Album: {{ song.album.album_name }}</p>
            <p class="artist">Artist: {{ song.album.artist }}</p>
            <p class="genre"></p>
            <p class="genre"></p>
        </div>
        <div class="btn-group">
            <a href="{% url 'play song' song.id %}">Play</a>
            <a href="{% url 'edit song' song.id %}">Edit</a>
            <a href="{% url 'delete song' song.id %}">Delete</a>
        </div>
    </div>
</div>